.App {
  display:flex;
  flex-direction:column;
  height:100%;
  overflow: hidden;
}
.App #controls {
  flex:1;
  position:relative;
}
.App #controls .zone {
  position:absolute;
  display: flex;
  align-items: center;
}
.App #controls #drive {
  left:0px;
  top:0px;
  width:50%;
  height:100%;
  justify-content: flex-start;
}
.App #controls #steer {
  right:0px;
  top:0px;
  width:50%;
  height:100%;
  justify-content: flex-end;
}
.App #controls .gesture {
  width: 150px;
  height: 150px;
  animation: smooth-blink 1s infinite;
}
.App #controls .gesture.gesture-alignCenter {
  align-self: center;
  margin-bottom: 30px;
}
.App #controls .gesture.gesture-alignBottom {
  align-self: flex-end;
  margin-bottom: 80px;
}
.App #controls .gesture > img {
  max-width: 100%;
  max-height: 100%;
  display: none;
}
.App #controls .gesture.gesture--visible > img {
  display: block;
}

@keyframes smooth-blink {
  0% {
    opacity: 0.7; /* Fully opaque at the start */
  }
  50% {
    opacity: 0.05; /* Almost transparent halfway through */
  }
  100% {
    opacity: 0.7; /* Fully opaque at the end */
  }
}